table a {
	font-size: 1em;
}
.gm-requisicao__tabela tr::before {
	content: '';
	font-size: 1.2em;
	font-weight: bold;
}
.gm-requisicao__tabela .gm-resposta--correta td,
.gm-requisicao__tabela .gm-resposta--correta span {
	color: hsl(240, 10%, 65%);
}
.gm-requisicao__tabela .gm-resposta--correta::before {
	content: '✓';
	color: hsl(120, 25%, 65%);
}

.gm-requisicao__tabela .gm-resposta--incorreta td,
.gm-requisicao__tabela .gm-resposta--incorreta span {
	color: hsl(0, 100%, 40%);
}
.gm-requisicao__tabela .gm-resposta--incorreta::before {
	content: '✗';
	color: hsl(0, 100%, 40%);
	text-shadow: none;
}

.gm-requisicao__tabela .gm-resposta--indefinida td,
.gm-requisicao__tabela .gm-resposta--indefinida span {
	color: hsl(30, 100%, 40%);
}
.gm-requisicao__tabela .gm-resposta--indefinida::before {
	content: '?';
	color: hsl(30, 100%, 40%);
	text-shadow: none;
}

p.gm-resposta {
	font-size: 1.2em;
	margin: 1em 0 0;
}
.gm-resposta--correta {
	color: hsl(120, 25%, 75%);
}
.gm-resposta--incorreta {
	color: hsl(0, 100%, 40%);
	text-shadow: 0 2px 2px hsl(0, 75%, 60%);
}
.gm-resposta--indefinida {
	color: hsl(30, 100%, 40%);
	text-shadow: 0 2px 3px hsl(30, 75%, 60%);
}

p.gm-dados-adicionais {
	margin-top: 0;
	margin-left: 2ex;
}
.gm-botoes {
	margin: 4em 0;
	display: flex;
	justify-content: space-around;
}
table.gm-tabela-eventos td {
	padding: 0 0.5ex;
}
